<div class="col s12 overview-element" (click)="navigateCatgories()">
  <div class="card-panel teal">
    <span class="white-text">
      Categorieën
    </span>
  </div>
</div>
<div class="col s12" (click)="navigateCatgories()">
  <div class="card-panel teal">
    <span class="white-text">
      Artikelen
    </span>
  </div>
</div>
<div class="col s12">
  <div class="card-panel teal" (click)="navigateCatgories()">
    <span class="white-text">
      Afbeeldingen carousel
    </span>
  </div>
</div>
<div class="col s12">
  <div class="card-panel teal" (click)="navigateCatgories()">
    <span class="white-text">
      Leveranciers
    </span>
  </div>
</div>