<div class="row">
  <div class="col s2">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <img class="responsive-image full-width" src="./../assets/brands/AmClassic.jpg" />
        </div>
        <div class="row">
          <Button class="btn full-width" [routerLink]="['./categorieën']">
            Categorieën
          </Button>
        </div>
        <div class="row">
          <Button class="btn full-width">
            Leveranciers
          </Button>
        </div>
        <div class="row">
          <Button class="btn full-width">
            Carousel
          </Button>
        </div>
        <div class="row">
          <Button class="btn full-width" [routerLink]="['./artikelen']">
            Artikelen
          </Button>
        </div>
      </div>
    </div>
  </div>
  <div class="col s10">
    <div class="card-panel grey lighten-5 z-depth-1">
      <div class="card-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>