<!--The content below is only a placeholder and can be replaced.-->
<div>
  <nav>
    <div class="nav-wrapper teal">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a [routerLink]="['/welcome']">Home</a>
        </li>
        <li>
          <a [routerLink]="['/overview']">Admin</a>
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li>
          <a [routerLink]="['/welcome']">Home</a>
        </li>
        <li>
          <a [routerLink]="['/categories']">Category List</a>
        </li>
      </ul>
    </div>
  </nav>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>